/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Start of styles */
/* variables */
.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
}
/* header */
header {
  margin: 15px 0;
  display: flex;
  flex-direction: row-reverse;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
header nav a {
  text-decoration: none;
  color: black;
}
/* About */
div.wrapper {
  width: 100%;
  height: 500px;
  background-color: lightblue;
  border-radius: 10px;
}
div.wrapper .about-section {
  padding: 30px;
}
div.wrapper .about-section img {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
div.wrapper .about-section .name-title h1 {
  font-size: 48px;
}
